files:
  "/opt/elasticbeanstalk/containerfiles/jetty.pill" :
    mode: "000644"
    owner: root
    group: users
    source: http://www.piratecode.org:8080/~jesse/stuff/beanstalk/jetty.pill

commands:
  0_replace:
    command: perl -pi -e "s/tomcat/jetty/g" containerconfiguration
    cwd: /opt/elasticbeanstalk/deploy/configuration
  0a_replace_gen:
    command: perl -pi -e "s/tomcat/jetty/g" generate_config.py
    cwd: /opt/elasticbeanstalk/containerfiles
  
  1_replace_port:
    command: perl -pi -e "s/\"80\"/\"8080\"/g" containerconfiguration
    cwd: /opt/elasticbeanstalk/deploy/configuration
  
  2_bundlelogs_conf:
    command: echo "/opt/jetty/jetty-distribution-9.0.0.RC0/logs/*" > jetty9.conf
    cwd: /opt/elasticbeanstalk/tasks/bundlelogs.d
  3_bundlelogs_perms:
    command: chmod 644 jetty9.conf
    cwd: /opt/elasticbeanstalk/tasks/bundlelogs.d

  4_systemtaillogs_conf:
    command: echo "/opt/jetty/jetty-distribution-9.0.0.RC0/logs/*.log" > jetty9.conf
    cwd: /opt/elasticbeanstalk/tasks/systemtaillogs.d
  5_systemtaillogs_perms:
    command: chmod 644 jetty9.conf
    cwd: /opt/elasticbeanstalk/tasks/systemtaillogs.d

  6_taillogs_conf:
    command: echo "/opt/jetty/jetty-distribution-9.0.0.RC0/logs/*.log" > jetty9.conf
    cwd: /opt/elasticbeanstalk/tasks/taillogs.d
  7_taillogs_perms:
    command: chmod 644 jetty9.conf
    cwd: /opt/elasticbeanstalk/tasks/taillogs.d

  8_publishlogs_conf:
    command: echo "/opt/jetty/jetty-distribution-9.0.0.RC0/logs/*.log" > jetty9.conf
    cwd: /opt/elasticbeanstalk/tasks/publishlogs.d
  9_publishlogs_perms:
    command: chmod 644 jetty9.conf
    cwd: /opt/elasticbeanstalk/tasks/publishlogs.d