sources:
  /opt: http://repo2.maven.org/maven2/org/eclipse/jetty/jetty-distribution/${jetty-version}/jetty-distribution-${jetty-version}.zip

users:
  jetty:
    homeDir: "/tmp"

#groups:
#  - jetty

commands:
  a001:
    command: mv jetty-distribution-${jetty-version} jetty-8
    cwd: /opt
    test: test ! -e jetty-8
#  0002:
#    command: cp bin/jetty.sh /etc/init.d/jetty8
#    cwd: /opt/jetty-8
#    test: test ! -e /etc/init.d/jetty8
#  0003:
#    command: chmod 755 jetty8
#    cwd: /etc/init.d
  a004:
    command: rm -Rf *
    cwd: /opt/jetty-8/contexts
  a005:
    command: rm -Rf *
    cwd: /opt/jetty-8/webapps
  a006:
    command: rm -Rf contexts-available
    cwd: /opt/jetty-8
    test: test -e contexts-available
  a007:
    command: rm -Rf javadoc
    cwd: /opt/jetty-8
  a008:
    command: rm jetty.conf
    cwd: /opt/jetty-8/etc
    test: test -e jetty.conf