sources:
  /opt/jetty: http://repo2.maven.org/maven2/org/eclipse/jetty/jetty-distribution/8.1.9.v20130131/jetty-distribution-8.1.9.v20130131.zip

#users:
#  jetty:
#      groups:
#       jetty
#      uid: "1000"
#      homedir: "/tmp"

#groups:
#  - jetty 
#    gid: "1000"

#files:
#  "/etc/init.d/jetty" :
#    mode: "00755"
#    owner: root
#    group: root
#    source: 

commands:
  0_mv_distro:
    command: ln -s /opt/jetty/jetty-distribution-8.1.9.v20130131 jetty-8
    cwd: /opt/jetty/
    test: test ! -e jetty-8
  1_copy_start_file:
    command: cp bin/jetty.sh /etc/init.d/jetty8
    cwd: /opt/jetty/jetty-8
  2_set_permissions:
    command: chmod 777 jetty8
    cwd: /etc/init.d
  3_chown_jetty:
    command: /bin/chown -R ec2-user:ec2-user jetty-8
    cwd: /opt/jetty
#  4_change_webapp_deploy_dir:
#    command: perl -pi -e "s/<Property name=\"jetty\.home\" default=\"\.\" \/>\/webapps/\/tmp\/deployment\/application/g" jetty-deploy.xml
#    cwd: /opt/jetty/jetty-distribution-9.0.0.RC0/etc
#  5_mkdir_deployment:
#    command: mkdir -p /tmp/deployment/application
#    cwd: /tmp
#  5_copy_test_webapp:
#    command: cp test.war /tmp/deployment/application/
#    cwd: /opt/jetty/jetty-distribution-9.0.0.RC0/webapps

