sources:
  

#files:
#  "/opt/elasticbeanstalk/containerfiles/jetty.pill" :
#    mode: "000644"
#    owner: root
#    group: users
#    source: http://www.piratecode.org:8080/~jesse/stuff/beanstalk/jetty.pill

commands:
  0001:
    command: cp /opt/jetty-beanstalk-resources/jetty.pill .
    cwd: /opt/elasticbeanstalk/containerfiles
  0002:
    command: chmod 644 jetty.pill
    cwd: /opt/elasticbeanstalk/containerfiles

#
# it mostly works to just replace tomcat references with jetty references
#
# tweak some paths first and then start replacing
  0003:
    command: perl -pi -e "s/\/usr\/share\/tomcat7/\/opt\/jetty-8/g" 01misc.sh
    cwd: /opt/elasticbeanstalk/hooks/preinit
  0004:
    command: find ./ | xargs perl -pi -e "s/\/var\/lib\/tomcat7/\/opt\/jetty-8/g"
    cwd: /opt/elasticbeanstalk
  0005:
    command: find ./ | xargs perl -pi -e "s/tomcat7/jetty8/g"
    cwd: /opt/elasticbeanstalk
  0006:
    command: find ./ | xargs perl -pi -e "s/tomcat/jetty/g"
    cwd: /opt/elasticbeanstalk
  0007:
    command: find ./ | xargs perl -pi -e "s/TOMCAT7/JETTY/g"
    cwd: /opt/elasticbeanstalk

#
# replace the old tomcat conf home setting with JETTY_PID
#
  0008:
    command: perl -pi -e "s/CONF_HOME=\/etc\/tomcat7/PID=\/var\/run\/jetty8.pid/g" 01misc.sh
    cwd: /opt/elasticbeanstalk/hooks/preinit

#
# unclear if we need to tweak this right now
#
  0009:
    command: perl -pi -e "s/\"80\"/\"8080\"/g" containerconfiguration
    cwd: /opt/elasticbeanstalk/deploy/configuration

#
# configure log gathering for jetty
#
  1000:_bundlelogs_conf:
    command: echo "/opt/jetty-8/logs/*" > jetty8.conf
    cwd: /opt/elasticbeanstalk/tasks/bundlelogs.d
  1001:
    command: chmod 644 jetty8.conf
    cwd: /opt/elasticbeanstalk/tasks/bundlelogs.d
  1002:
    command: echo "/opt/jetty-8/logs/*.log" > jetty8.conf
    cwd: /opt/elasticbeanstalk/tasks/systemtaillogs.d
  1003:
    command: chmod 644 jetty8.conf
    cwd: /opt/elasticbeanstalk/tasks/systemtaillogs.d
  1004:
    command: echo "/opt/jetty-8/logs/*.log" > jetty8.conf
    cwd: /opt/elasticbeanstalk/tasks/taillogs.d
  1005:
    command: chmod 644 jetty8.conf
    cwd: /opt/elasticbeanstalk/tasks/taillogs.d
  1006:
    command: echo "/opt/jetty-8/logs/*.log" > jetty8.conf
    cwd: /opt/elasticbeanstalk/tasks/publishlogs.d
  1007:
    command: chmod 644 jetty8.conf
    cwd: /opt/elasticbeanstalk/tasks/publishlogs.d

#
# remove the tomcat log gathering configuration
#
  1008:
    command: find ./ -name tomcat7 | xargs rm
    cwd: /opt/elasticbeanstalk/tasks
