sources:
  /opt: ${beanstalk-resource-url}

commands:
  0001:
    command: cp /opt/jetty-beanstalk-resources/jetty.pill .
    cwd: /opt/elasticbeanstalk/containerfiles
  0002:
    command: chmod 644 jetty.pill
    cwd: /opt/elasticbeanstalk/containerfiles
  0003:
    command: cp /opt/jetty-beanstalk-resources/01misc.sh .
    cwd: /opt/elasticbeanstalk/hooks/preinit
  0004:
    command: chmod 755 01misc.sh
    cwd: /opt/elasticbeanstalk/hooks/preinit
#
# it mostly works to just replace tomcat references with jetty references
#
# tweak some paths first and then start replacing
  0011:
    command: find ./ -type f | xargs perl -pi -e "s/\/var\/lib\/tomcat7/\/opt\/jetty-8/g"
    cwd: /opt/elasticbeanstalk
  0012:
    command: find ./ -type f | xargs perl -pi -e "s/tomcat7/jetty8/g"
    cwd: /opt/elasticbeanstalk
  0013:
    command: find ./ -type f | xargs perl -pi -e "s/tomcat/jetty/g"
    cwd: /opt/elasticbeanstalk
  0014:
    command: find ./ -type f | xargs perl -pi -e "s/TOMCAT7/JETTY/g"
    cwd: /opt/elasticbeanstalk

#
# replace the old tomcat conf home setting with JETTY_PID
#
  0018:
    command: perl -pi -e "s/CONF_HOME=\/etc\/tomcat7/PID=\/var\/run\/jetty.pid/g" 01misc.sh
    cwd: /opt/elasticbeanstalk/hooks/preinit

#
# unclear if we need to tweak this right now
#
  0019:
    command: perl -pi -e "s/\"80\"/\"8080\"/g" containerconfiguration
    cwd: /opt/elasticbeanstalk/deploy/configuration

#
# configure log gathering for jetty
#
  1000:_bundlelogs_conf:
    command: echo "/opt/jetty-8/logs/*" > jetty8.conf
    cwd: /opt/elasticbeanstalk/tasks/bundlelogs.d
  1001:
    command: chmod 644 jetty8.conf
    cwd: /opt/elasticbeanstalk/tasks/bundlelogs.d
  1002:
    command: echo "/opt/jetty-8/logs/*.log" > jetty8.conf
    cwd: /opt/elasticbeanstalk/tasks/systemtaillogs.d
  1003:
    command: chmod 644 jetty8.conf
    cwd: /opt/elasticbeanstalk/tasks/systemtaillogs.d
  1004:
    command: echo "/opt/jetty-8/logs/*.log" > jetty8.conf
    cwd: /opt/elasticbeanstalk/tasks/taillogs.d
  1005:
    command: chmod 644 jetty8.conf
    cwd: /opt/elasticbeanstalk/tasks/taillogs.d
  1006:
    command: echo "/opt/jetty-8/logs/*.log" > jetty8.conf
    cwd: /opt/elasticbeanstalk/tasks/publishlogs.d
  1007:
    command: chmod 644 jetty8.conf
    cwd: /opt/elasticbeanstalk/tasks/publishlogs.d

#
# remove the tomcat log gathering configuration
#
  1008:
    command: find ./ -name tomcat7.conf | xargs rm
    cwd: /opt/elasticbeanstalk/tasks
    test: test -e /opt/elasticbeanstalk/tasks/publishlogs.d/tomcat7.conf

#
# configure logging
#

  2000:
    command: mkdir logging
    cwd: /opt/jetty-8/lib
    test: test ! -e logging
  2001:
    command: cp logback-classic-1.0.9.jar /opt/jetty-8/lib/logging
    cwd: /opt/jetty-beanstalk-resources
    test: test ! -e /opt/jetty-8/lib/logging/logback-classic-1.0.9.jar
  2002:
    command: cp logback-core-1.0.9.jar /opt/jetty-8/lib/logging
    cwd: /opt/jetty-beanstalk-resources
    test: test ! -e /opt/jetty-8/lib/logging/logback-core-1.0.9.jar
  2003:
    command: cp slf4j-api-1.7.2.jar /opt/jetty-8/lib/logging
    cwd: /opt/jetty-beanstalk-resources
    test: test ! -e /opt/jetty-8/lib/logging/slf4j-api-1.7.2.jar
  2004:
    command: cp logback.xml /opt/jetty-8/resources
    cwd: /opt/jetty-beanstalk-resources

