sources:
  /opt: http://repo2.maven.org/maven2/org/eclipse/jetty/jetty-distribution/${jetty-version}/jetty-distribution-${jetty-version}.zip

users:
  jetty:
    homeDir: "/tmp"

#groups:
#  - jetty

commands:
  a001:
    command: mv jetty-distribution-${jetty-version} jetty-9
    cwd: /opt
    test: test ! -e jetty-9
#  0002:
#    command: cp bin/jetty.sh /etc/init.d/jetty8
#    cwd: /opt/jetty-8
#    test: test ! -e /etc/init.d/jetty8
  a0003:
    command: rm start.d/900-demo.ini
    cwd: /opt/jetty-9
    test: test -e start.d/900-demo.ini
  a004:
    command: rm -Rf webapps.demo
    cwd: /opt/jetty-9
    test: test -e webapps.demo
  a005:
    command: rm -Rf *
    cwd: /opt/jetty-9/webapps
#  a006:
#    command: rm -Rf contexts-available
#    cwd: /opt/jetty-9
#    test: test -e contexts-available
#  a007:
#    command: rm -Rf javadoc
#    cwd: /opt/jetty-9
#  a008:
#    command: rm jetty.conf
#    cwd: /opt/jetty-9/etc
#    test: test -e jetty.conf