sources:
  /opt: ${beanstalk-resource-url}

commands:
  a001:
    command: cp /opt/jetty-beanstalk-resources/jetty.pill .
    cwd: /opt/elasticbeanstalk/containerfiles
  a002:
    command: chmod 644 jetty.pill
    cwd: /opt/elasticbeanstalk/containerfiles
  a003:
    command: cp /opt/jetty-beanstalk-resources/01misc.sh .
    cwd: /opt/elasticbeanstalk/hooks/preinit
  a004:
    command: chmod 755 01misc.sh
    cwd: /opt/elasticbeanstalk/hooks/preinit
  a005:
    command: cp /opt/jetty-beanstalk-resources/02clean.sh .
    cwd: /opt/elasticbeanstalk/hooks/appdeploy/enact
  a006:
    command: chmod 755 02clean.sh
    cwd: /opt/elasticbeanstalk/hooks/appdeploy/enact
#
# it mostly works to just replace tomcat references with jetty references
#
# tweak some paths first and then start replacing
  a011:
    command: find ./ -type f | xargs perl -pi -e "s/\/var\/lib\/tomcat7/\/opt\/jetty-9/g"
    cwd: /opt/elasticbeanstalk
  a012:
    command: find ./ -type f | xargs perl -pi -e "s/tomcat7/jetty9/g"
    cwd: /opt/elasticbeanstalk
  a013:
    command: find ./ -type f | xargs perl -pi -e "s/tomcat/jetty/g"
    cwd: /opt/elasticbeanstalk
  a014:
    command: find ./ -type f | xargs perl -pi -e "s/TOMCAT7/JETTY/g"
    cwd: /opt/elasticbeanstalk

#
# replace the old tomcat conf home setting with JETTY_PID
#
  a018:
    command: perl -pi -e "s/CONF_HOME=\/etc\/tomcat7/PID=\/var\/run\/jetty.pid/g" 01misc.sh
    cwd: /opt/elasticbeanstalk/hooks/preinit

#
# unclear if we need to tweak this right now
#
  a019:
    command: perl -pi -e "s/\"80\"/\"8080\"/g" containerconfiguration
    cwd: /opt/elasticbeanstalk/deploy/configuration

#
# configure log gathering for jetty
#
  b000:_bundlelogs_conf:
    command: echo "/opt/jetty-9/logs/*" > jetty9.conf
    cwd: /opt/elasticbeanstalk/tasks/bundlelogs.d
  b001:
    command: chmod 644 jetty9.conf
    cwd: /opt/elasticbeanstalk/tasks/bundlelogs.d
  b002:
    command: echo "/opt/jetty-9/logs/*.log" > jetty9.conf
    cwd: /opt/elasticbeanstalk/tasks/systemtaillogs.d
  b003:
    command: chmod 644 jetty9.conf
    cwd: /opt/elasticbeanstalk/tasks/systemtaillogs.d
  b004:
    command: echo "/opt/jetty-9/logs/*.log" > jetty9.conf
    cwd: /opt/elasticbeanstalk/tasks/taillogs.d
  b005:
    command: chmod 644 jetty9.conf
    cwd: /opt/elasticbeanstalk/tasks/taillogs.d
  b006:
    command: echo "/opt/jetty-9/logs/*.log" > jetty9.conf
    cwd: /opt/elasticbeanstalk/tasks/publishlogs.d
  b007:
    command: chmod 644 jetty9.conf
    cwd: /opt/elasticbeanstalk/tasks/publishlogs.d

#
# remove the tomcat log gathering configuration
#
  b008:
    command: find ./ -name tomcat7.conf | xargs rm
    cwd: /opt/elasticbeanstalk/tasks
    test: test -e /opt/elasticbeanstalk/tasks/publishlogs.d/tomcat7.conf

#
# configure logging
#

  c000:
    command: mkdir logging
    cwd: /opt/jetty-9/lib
    test: test ! -e logging
  c001:
    command: cp logback-classic-1.0.9.jar /opt/jetty-9/lib/logging
    cwd: /opt/jetty-beanstalk-resources
    test: test ! -e /opt/jetty-9/lib/logging/logback-classic-1.0.9.jar
  c002:
    command: cp logback-core-1.0.9.jar /opt/jetty-9/lib/logging
    cwd: /opt/jetty-beanstalk-resources
    test: test ! -e /opt/jetty-9/lib/logging/logback-core-1.0.9.jar
  c003:
    command: cp slf4j-api-1.7.2.jar /opt/jetty-9/lib/logging
    cwd: /opt/jetty-beanstalk-resources
    test: test ! -e /opt/jetty-9/lib/logging/slf4j-api-1.7.2.jar
  c004:
    command: cp logback.xml /opt/jetty-9/resources
    cwd: /opt/jetty-beanstalk-resources

#
# install custom jetty.sh
# 
  d000:
    command: cp jetty.sh /etc/init.d/jetty9
    cwd: /opt/jetty-beanstalk-resources
#    test: test ! -e /etc/init.d/jetty9
  d001:
    command: chmod 755 jetty9
    cwd: /etc/init.d

#
# link up jetty9 kills in rc.d
#
  e000:
    command: ln -s ../init.d/jetty9 K20jetty9
    cwd: /etc/rc.d/rc0.d
    test: test ! -L K20jetty9
  e001:
    command: ln -s ../init.d/jetty9 K20jetty9
    cwd: /etc/rc.d/rc1.d
    test: test ! -L K20jetty9
  e002:
    command: ln -s ../init.d/jetty9 K20jetty9
    cwd: /etc/rc.d/rc2.d
    test: test ! -L K20jetty9
  e003:
    command: ln -s ../init.d/jetty9 K20jetty9
    cwd: /etc/rc.d/rc3.d
    test: test ! -L K20jetty9
  e004:
    command: ln -s ../init.d/jetty9 K20jetty9
    cwd: /etc/rc.d/rc4.d
    test: test ! -L K20jetty9
  e005:
    command: ln -s ../init.d/jetty9 K20jetty9
    cwd: /etc/rc.d/rc5.d
    test: test ! -L K20jetty9
  e006:
    command: ln -s ../init.d/jetty9 K20jetty9
    cwd: /etc/rc.d/rc6.d
    test: test ! -L K20jetty9    

#
# clean up the beanstalk resources
#  
  z000:
    command: rm -Rf jetty-beanstalk-resources
    cwd: /opt
    test: test -e jetty-beanstalk-resources
