container_commands:
#
# remove the override line so test webapp deploys with remote access
#

#
# copy the customize start.ini into place
#
  a001:
    command: cp start.ini /opt/jetty-9
    cwd: /tmp/deployment/application/ROOT/.ebextensions
# 
# copy customized context xml file into place  
#
  a002: 
   command: cp ROOT.xml /opt/jetty-9/webapps
   cwd: /tmp/deployment/application/ROOT/.ebextensions
  a003:
   command: mkdir /opt/jetty-9/webapps/ROOT.d
   cwd: /opt/jetty-9/webapps
   test: test ! -e ROOT.d
  a004: 
   command: cp override-web.xml /opt/jetty-9/webapps/ROOT.d
   cwd: /tmp/deployment/application/ROOT/.ebextensions
  a005: 
   command: cp javadoc.xml /opt/jetty-9/webapps
   cwd: /tmp/deployment/application/ROOT/.ebextensions
  a006: 
   command: cp 900-root.ini /opt/jetty-9/start.d
   cwd: /tmp/deployment/application/ROOT/.ebextensions
  a007: 
   command: cp jetty-root.xml /opt/jetty-9/etc
   cwd: /tmp/deployment/application/ROOT/.ebextensions