<?xml version="1.0" encoding="UTF-8"?>
<!--
  LOGBACK Configuration File
 
http://logback.qos.ch/manual/configuration.html
 
  -->
<configuration>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${jetty.home}/logs/jetty.log</file>
    <encoder>
      <pattern>%d [%thread] %-5level %logger{35} - %msg%n</pattern>
    </encoder>
  </appender>
 
  <root level="info">
    <appender-ref ref="FILE" />
  </root>
</configuration>